<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/urbancommon :: head('Post')">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">


  <!-- Custom styles for this  template -->
  <link href="starter-template.css" th:href="@{/starter-template.css}" rel="stylesheet"/>

  <title>Notice Write</title>
</head>

<body>
  <script type="text/javascript">
  function commentModify(id){
    $.ajax({
      url : "commetModify/"+id,
      type : "POST",
      cache : false ,
      dataType : "json",
      data : "",
      async : true ,
      success: function(data){
        $("#commentfield1").css("display","none");
        $("#commentfield2").css("display","none");
        $("#commentModify1").append(
          "<div id='commentModify2'>" +
          "<form action='/board/commentform' method='POST'>" +
          "<input type='hidden' name='commentId' value='" + data['commentId'] + "'/>"+
          "<input type='hidden' name='boardId' value='" + data['boardId'] + "'/>"+
          "<textarea name='commentContent' placeholder='Enter your comment' rows='3' style='resize: none;'>" +
          data['commentContent'] +
          "</textarea>" +
          "<button type='submit' class='button alt small'>Confirm</button>"+
          "<button class='button alt small' onclick='commentModifyCancel()'>Cancel</button>" +
          "</form>" +
          "</div>"
        );
      },
      error: function (request, status, error){
        alert('오류가 발생하였습니다.');
      }
    });
  }

  function commentModifyCancel(){
    $("#commentfield1").css("display","block");
    $("#commentfield2").css("display","block");
    $("#commentModify2").remove();
  }

  $(function() {
    var boardid = $("#boardId").val();
    $.ajax({
      url : "likecheck/" + boardid,
      type : "POST",
      cache : false ,
      dataType : "json",
      data : "",
      async : true ,
      success: function(data){
        if (data["result"] == 1){
          $("#heart"+boardid).remove();
          $("#heartbtn"+boardid).prepend("<span id='heart"+ boardid +"' class='heart-shape'><i class='fas fa-heart'></i> </span>");
          $("#heartbtn"+boardid).removeAttr("onclick");
          $("#heartbtn"+boardid).attr("onclick", "btnunlike("+ boardid + ");");
        }else{
          $("#heart"+boardid).remove();
          $("#heartbtn"+boardid).prepend("<span id='heart"+ boardid +"' class='heart-shape'><i class='far fa-heart'></i> </span>");
          $("#heartbtn"+boardid).removeAttr("onclick");
          $("#heartbtn"+boardid).attr("onclick", "btnlike("+ boardid + ");");
        }
      },
      error: function (request, status, error){
        alert('오류가 발생하였습니다.');
      }
    });
  });

  function btnlike(id){
    var boardid = $("#boardId").val();
    $.ajax({
      url : "like/" + boardid,
      type : "POST",
      cache : false ,
      dataType : "json",
      data : "",
      async : true ,
      success: function(data){
        if (data["result"] == 1){
          $("#heart"+id).remove();
          $("#heartbtn"+id).prepend("<span id='heart"+ id +"' class='heart-shape'><i class='fas fa-heart'></i> </span>");
          $("#heartbtn"+id).removeAttr("onclick");
          $("#heartbtn"+id).attr("onclick", "btnunlike("+ id + ");");
          $("#likenum").html(data["boardlikenum"]);
        }else{
          btnunlike(boardid);
        }
      },
      error: function (request, status, error){
        alert('오류가 발생하였습니다.');
      }
    });
  }

  function btnunlike(id){
    var boardid = $("#boardId").val();
    $.ajax({
      url : "unlike/" + boardid,
      type : "POST",
      cache : false ,
      dataType : "json",
      data : "",
      async : true ,
      success: function(data){
        if (data["result"] == 1){
          $("#heart"+id).remove();
          $("#heartbtn"+id).prepend("<span id='heart"+ id +"' class='heart-shape'><i class='far fa-heart'></i> </span>");
          $("#heartbtn"+id).removeAttr("onclick");
          $("#heartbtn"+id).attr("onclick", "btnlike("+ id + ");");
          $("#likenum").html(data["boardlikenum"]);
        }else{
          btnunlike(boardid);
        }
      },
      error: function (request, status, error){
        alert('오류가 발생하였습니다.');
      }
    });

  }
  </script>
  <div th:replace="fragments/urbancommon :: top('Post')"></div>

  <div id="main">
    <section class="wrapper style1">
      <div class="inner" th:object="${board}">
        <br/>
        <h1><strong>Post</strong></h1><br/>
        <div class="like-container" style="display:inline;">
          <button type="button" th:id="heartbtn+${board.id}" class="btn-like" onclick="btnlike(1)" th:onclick="'btnlike(' + ${board.id} + ')'">
            <span th:id="heart+${board.id}" class="heart-shape"> <i class="far fa-heart"></i> </span>&nbsp;
            <span id="likenum" th:text="${boardlikenum}" class="like-count"> 1 </span>
          </button>
        </div>
        <div class="text-end" style="display:inline; float:right;">
          <span th:text="*{user.username}"></span> &nbsp; | &nbsp;
          <span th:text="*{#temporals.format(createdDate, 'yyyy-MM-dd HH:mm')}"></span> &nbsp; | &nbsp;
          <span th:text="*{views}"></span>
        </div>
        <hr />
        <div class="row 200%">
          <div class="6u 12u$(medium)">
            <header>
              <label for="title">Title</label>
              <h2 th:text="*{title}"></h2>
              <hr />
              <label for="content">Content</label>
              <p th:text="*{content}"></p>
              <hr />
              <label for="customFile">Attachments</label>
              <p>
                <a th:href="${filepath}"><span th:text="${filename}">file</span></a>
              </p>
              <hr/>
            </header>
          </div>
          <div class="6u 12u$(medium)">
            <span class="image fit"><img id="images" src="images/pic01.jpg" th:src="${imagepath}" alt=""></span>
          </div>
          <div class="text-end" >
            <a th:href="@{/board/list}" class="button alt" style="display: inline-block; float: left;">list</a>
            <div th:if="${selfcheck.equals('Y')}">
              <a th:href="@{/board/form(id=${board.id})}" class="button alt" >Modify</a>
              <form th:action="@{/board/delete/}+${board.id}" action="#" method="POST" style="display: inline-block;">
                <button type="submit" class="button alt">Delete</button>
              </form>
            </div>
          </div>
        </div>
        </br>
        <label for="comment">comment</label>
        <div class="12u$(medium)">
          <form action="#" th:action="@{/board/commentform}" th:object="${board}" method="post">
            <input type="hidden" id="boardId" name="boardId" th:value="*{id}">
            <textarea name="commentContent" id="commentContent" placeholder="Enter your comment" rows="6" style="resize: none;"></textarea>
            <div class="text-end my-1">
              <button type="submit" class="button alt small">write</button>
            </div>
          </form>
				</div>
        <div class="12u$(medium)" th:each="comment : ${comments}">
          <input type="hidden" th:value="${comment.commentId}" th:id="'comId'+${comment.commentId}"/>
          <span class="image left"><i class="fas fa-user-alt"></i></span><strong><p th:text="${comment.username}">Lorem </p></strong>
          <p id="commentfield1" th:text="${comment.commentContent}"></p>
          <div id="commentfield2" th:if="${comment.commentselfcheck.equals('Y')}">
            <form th:action="@{/board/commetdelete/}+${comment.commentId}" action="#" method="POST" style="float: right; transform: translate(-75px, -45px);">
              <button type="button" class="button alt small" onclick="commentModify(1)" th:onclick="'commentModify('+${comment.commentId}+')'">modify</button>
              <button type="submit" class="button alt small">Delete</button>
              <input type="hidden" name="boardId" th:value="*{id}">
            </form>
          </div>
          <div id="commentModify1" class="text-end"></div>
          <hr>
        </div>
        <br/>
        <div class="12u$(medium)">
          <table class="" style="text-align: center;">
            <tbody>
              <tr style="background-color:#fafafa;" th:if="${nextBoard != null}">
                <td style="width:10%;">Next</td>
                <td>
                  <a th:href="@{/board/view(id=${nextBoard.id})}">
                    <span th:text="${nextBoard.title}">다음글 제목</span>
                  </a>
                </td>
                <td style="width:20%;">
                  <span th:text="${nextBoard.createdDate}">2021-03-27 01:29</span>
                </td>
              </tr>
              <tr style="background-color:#fafafa;" th:if="${prevBoard != null}">
                <td style="width:10%;">Prev</td>
                <td>
                  <a th:href="@{/board/view(id=${prevBoard.id})}">
                    <span th:text="${prevBoard.title}">이전글 제목</span>
                  </a>
                </td>
                <td style="width:20%;">
                  <span th:text="${prevBoard.createdDate}">2021-03-27 01:29</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>


  <!-- Optional JavaScript; choose one of the two! -->
  <script>
  $("#customFile").on("change", function() {
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
  </script>
  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <footer id="footer" th:replace="fragments/footer :: footer('footer')"></footer>
  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
</body>

</html>
