<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">
  <title th:text="${title}">Hello, Spring Boot</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Custom styles for this template -->
  <link href="starter-template.css" th:href="@{/css/starter-template.css}" rel="stylesheet"/>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet"  th:href="@{/css/main.css}" href="css/main.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<!-- Scripts -->
  <script th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
  <script th:src="@{/js/jquery.scrolly.min.js}" src="js/jquery.scrolly.min.js"></script>
  <script th:src="@{/js/jquery.scrollex.min.js}" src="js/jquery.scrollex.min.js"></script>
  <script th:src="@{/js/skel.min.js}" src="js/skel.min.js"></script>
  <script th:src="@{/js/util.js}" src="js/util.js"></script>
  <script th:src="@{/js/main.js}" src="js/main.js"></script>

</head>
<body>
  <div th:fragment="top(top)">
    <!-- Header -->
    <header id="header" class="alt">
      <!--jquery
      <div class="logo"><b><a th:href="@{/urban}" href="urbanindex.html">생각하는 <span>참새</span></a></b></div>
      <a th:href="@{/account/login}" href="#" class="button"><i class="fas fa-sign-in-alt">Login</i></a>
      -->
      <div class="logo"><a th:href="@{/urban}" href="urbanindex.html"><i class="fas fa-home">Sprrow</i></a></div>
      <a th:href="@{/account/login}" class="mx-1 button special small"
        sec:authorize="!isAuthenticated()"><i class="fas fa-sign-in-alt"> Sign In</i></a>
      <a th:href="@{/account/register}" class="mx-1 button special small"
        sec:authorize="!isAuthenticated()"><i class="fas fa-user-plus"> Sign Up</i></a>
      <form th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()" style="display: inline-block;" enctype="multipart/form-data">
        <span class="mx-2" sec:authentication="name">사용자</span>
        <span class="mx-2" sec:authentication="principal.authorities">권한</span>
        <button class="mx-1 button special small" type="submit" sec:authorize="isAuthenticated()"><i class="fas fa-sign-out-alt">Logout</i></button>
      </form>
      <a href="#menu" class="mx-1 button special small">Menu</a>
    </header>

    <!-- Nav -->
    <nav id="menu">
      <ul class="links">
        <li><a th:href="@{/urban}" href="index.html">Home</a></li>
        <li><a href="#" th:href="@{/board/list}" th:classappend="${menu} == 'board' ? 'active'">Notice</a></li>
        <li><a th:href="@{/elements.html}" href="elements.html">Chat</a></li>
      </ul>
    </nav>
  </div>
</body>

</html>
