<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/urbancommon :: head('Hello Sparrow')">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <title>register</title>

  <!-- Custom styles for this template -->
  <link th:href="@{/css/signin.css}" rel="stylesheet">
</head>

<body class="text-center">
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    //다음 주소 API
    function sample6_execDaumPostcode() {
    new daum.Postcode({
        oncomplete: function(data) {
            var addr = ''; // 주소 변수
            var extraAddr = ''; // 참고항목 변수

            //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                addr = data.roadAddress;
            } else { // 사용자가 지번 주소를 선택했을 경우(J)
                addr = data.jibunAddress;
            }

            // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
            if(data.userSelectedType === 'R'){
                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraAddr !== ''){
                    extraAddr = ' (' + extraAddr + ')';
                }
                // 조합된 참고항목을 해당 필드에 넣는다.
                document.getElementById("sample6_extraAddress").value = extraAddr;

            } else {
                document.getElementById("sample6_extraAddress").value = '';
            }

            // 우편번호와 주소 정보를 해당 필드에 넣는다.
            document.getElementById('sample6_postcode').value = data.zonecode;
            document.getElementById("sample6_address").value = addr;
            // 커서를 상세주소 필드로 이동한다.
            document.getElementById("sample6_detailAddress").focus();
          }
      }).open();
  }

  $(function() {
    $("#password").keyup(function () {
      var password = $(this).val();
      var id = $("#username").val();
      var checkNumber = password.search(/[0-9]/g);
      var checkEnglish = password.search(/[a-z]/ig);
      var passwordRules = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,16}$/;

      if(!passwordRules.test(password)){
        $("#passwordtext").text('숫자, 영문자, 특수문자 조합으로 8~16자리를 사용해야 합니다.');
      } else if(checkNumber <0 || checkEnglish <0){
        $("#passwordtext").text('숫자와 영문자를 혼용하여야 합니다.');
      } else if(/(\w)\1\1\1/.test(password)){
        $("#passwordtext").text('같은 문자를 4번 이상 사용하실 수 없습니다.');
      } else if(password.search(id) > -1){
        $("#passwordtext").text('비밀번호에 아이디가 포함되었습니다.');
      } else{
        $("#passwordtext").text('');
      }
    });

    $("#passwordcheck").keyup(function () {
      var passwordcheck = $(this).val();
      var originpassword = $("#password").val();

      if(passwordcheck != originpassword){
        $("#passwordchecktext").text('비밀번호가 일치하지 않습니다.');
      }else{
        $("#passwordchecktext").text('');
      }
    });
  });

  function dupIdCheck(){
    var checkusername = $("#checkusername").val();
    var idReg = /^[a-z]+[a-z0-9]{5,12}$/g;

    if( !idReg.test(checkusername)) {
      $("#result").text("아이디는 영문자로 시작하는 6~13자 영문자 또는 숫자이어야 합니다.");
    }else {
      $.ajax({
        url : "dupcheck",
        type : "POST",
        cache : false ,
        dataType : "json",
        data : "username="+checkusername,
        async : true ,
        success: function(data){
          if(data["result"] == "Y"){
            $("#username").val(checkusername);
            $('#exampleModal').modal("hide");
            $("#result").text("");
          }else{
            $("#result").text("이미 사용중인 계정입니다.");
          }
        },
        error: function (request, status, error){
          alert('오류가 발생하였습니다.');
        }
      });
    }
  }

  function checkForm(){
    //username 검증
    var id = $("#username").val();
    var idReg = /^[a-z]+[a-z0-9]{5,12}$/g;
    if (id == ""){
      alert('사용하실 ID를 입력해주세요.');
      return false;
    } else if (!idReg.test(id)){
      alert('"아이디는 영문자로 시작하는 6~13자 영문자 또는 숫자이어야 합니다."');
      return false;
    }

    //password 검증
    var password = $("#password").val();
    var checkNumber = password.search(/[0-9]/g);
    var checkEnglish = password.search(/[a-z]/ig);
    var passwordRules = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,16}$/;
    if (password == ""){
      alert('비밀번호를 입력해주세요.');
      return false;
    }else if(!passwordRules.test(password)){
      alert('숫자, 영문자, 특수문자 조합으로 8~16자리를 사용해야 합니다.');
      return false;
    }else if(checkNumber <0 || checkEnglish <0){
      alert('숫자와 영문자를 혼용하여야 합니다.');
      return false;
    }else if(/(\w)\1\1\1/.test(password)){
      alert('같은 문자를 4번 이상 사용하실 수 없습니다.');
      return false;
    }else if(password.search(id) > -1){
      alert('비밀번호에 아이디가 포함되었습니다.');
      return false;
    }

    //address 검증
    var address = $("#sample6_postcode").val();
    if (address == ""){
      alert('주소 찾기를 진행해 주세요.');
      return false;
    }

    //realname 검증
    if (address == ""){
      alert('주소 찾기를 진행해 주세요.');
      return false;
    }

    // email 검증
    if (address == ""){
      alert('주소 찾기를 진행해 주세요.');
      return false;
    }


  return true;
  }
</script>

<!-- Custom style-->
<style>
.notify{
  float: left;
  color: red;
}

.signlabel{
  padding-bottom: -10px;
}
.signlabel h4{
  float: left;
}
</style>

<!-- th:action 를 붙여줘야 csrf토큰이 같이 전송됨-->
  <div th:replace="fragments/urbancommon :: top('login')"></div>
    <!-- Form -->
    <div id="main">
			<section class="wrapper style1">
				<div class="inner">
          <h2><strong>Sign Up</strong></h2>
          <hr/>
          <form method="post" th:action="@{/account/register}" action="#" onsubmit="return checkForm()">
            <div class="row uniform">
              <label for="username" class="signlabel"><h4>Account</h4></label>
              <div class="10u 12u$(xsmall)">
                <input type="text" name="username" id="username" value="" placeholder="Enter ID" readonly/>
              </div>
              <br/>
              <div class="2u 12u$(xsmall)">
                <button type="button" id="modal_show">Dup check</button>
              </div>
              <div class="12u$(xsmall)">
                <input type="password" name="password" id="password" value="" placeholder="Enter password" />
                <span id="passwordtext" class="notify"></span>
              </div>
              <div class="12u$(xsmall)">
                <input type="password" id="passwordcheck" value="" placeholder="Enter password confirm" />
                <span id="passwordchecktext" class="notify"></span>
              </div>
            </div>

            <hr/>

            <div class="row uniform">
              <label for="postcode" class="signlabel"><h4>Address</h4></label>
              <div class="10u 12u$(xsmall)">
                <input type="text" name="postcode" id="sample6_postcode" placeholder="Zip code" readonly>
              </div>
              <div class="2u 12u$(xsmall)">
                <input type="button" onclick="sample6_execDaumPostcode()" value="Find Address" readonly><br>
              </div>
              <div class="12u$(xsmall)">
                <input type="text" name="address" id="sample6_address" placeholder="Address" readonly><br>
              </div>
              <div class="6u 12u$(xsmall)">
                <input type="text" name="extraAddress" id="sample6_extraAddress" placeholder="Reference" readonly>
              </div>
              <div class="6u 12u$(xsmall)">
                <input type="text" name="detailAddress" id="sample6_detailAddress" placeholder="DetailAddress">
              </div>
            </div>

            <br/>
            <hr/>

            <div class="row uniform">
              <label for="postcode" class="signlabel"><h4>Privacy</h4></label>
              <div class="6u 12u$(xsmall)">
                <input type="text" name="realname" id="realname" value="" placeholder="Enter Your Name" />
              </div>
              <div class="6u$ 12u$(xsmall)">
                <input type="email" name="email" id="email" value="" placeholder="Enter Your Email" />
              </div>
              <div class="12u$">
                <textarea name="introduce" id="introduce" placeholder="introduction" rows="4"></textarea>
                <hr/>
              </div>

              <!-- Break -->
              <div class="12u$">
                <ul class="actions">
                  <li><input type="submit" value="Sign Up"/></li>
                  <li><input type="reset" value="Reset" class="alt" /></li>
                  <li><a th:href="@{/urban}" class="button alt">Cancel</a></li>
                </ul>
              </div>
            </div>
          </form>
      </div>
    </section>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin:30px;">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Duplicate check</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                  <input type="text" name="checkusername" id="checkusername" value="">
                  <span id="result" class="notify"></span>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary" onclick="dupIdCheck()">Confirm</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>
  <footer id="footer" th:replace="fragments/footer :: footer('footer')"></footer>
</body>

</html>
