<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
	<head th:replace="fragments/urbancommon :: head('Hello Sparrow')">
		<title>달리는 참새</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet"  th:href="@{/css/main.css}" href="css/main.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	</head>
	<body>

		<div th:replace="fragments/urbancommon :: top('top')">
			<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><b><a th:href="@{/urban}" href="urbanindex.html">생각하는 <span>참새</span></a></b></div>
				<a th:href="@{/account/login}" href="#" class="button"><i class="fas fa-sign-in-alt">Login</i></a>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a th:href="@{/urban}" href="index.html">Home</a></li>
					<li><a href="#" th:href="@{/board/list}">Board</a></li>
					<li><a th:href="@{/elements.html}" href="elements.html">Elements</a></li>
				</ul>
			</nav>
		</div>
		<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<header>
					<h1>Think Sparrow</h1>
					<p>딱히 적을말이 없네요..</p>
				</header>
				<a href="#main" class="button big scrolly">더 보기</a>
			</div>
		</section>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<!-- 2 Columns -->
								<div class="flex flex-2">
									<div class="col col1">
										<div class="image round fit">
											<a href="generic.html" class="link"><img th:src="@{/images/pic01.jpg}" src="images/pic01.jpg" alt="" /></a>
										</div>
									</div>
									<div class="mx-3 col col2">
										<h3>Suspendisse quis massa vel justo</h3>
										<p>Etiam posuere hendrerit arcu, ac blandit nulla. Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque fermentum, luctus elit fermentum, porta augue. Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex.</p>
										<p>Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque fermentum, luctus elit fermentum, porta augue. Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex. </p>
										<a href="#" class="button">더 보기</a>
									</div>
								</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style2">
						<div class="inner">
							<div class="flex flex-2">
								<div class="col col2">
									<h3>Suspendisse quis massa vel justo</h3>
									<p>Etiam posuere hendrerit arcu, ac blandit nulla. Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque fermentum, luctus elit fermentum, porta augue. Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex.</p>
									<p>Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque fermentum, luctus elit fermentum, porta augue. Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex. </p>
									<a href="#" class="button">더 보기</a>
								</div>
								<div class="col col1 first">
									<div class="image round fit">
										<a href="generic.html" class="link"><img th:src="@{/images/pic02.jpg}" src="images/pic02.jpg" alt="" /></a>
									</div>
								</div>
							</div>
						</div>
					</section>

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<header class="align-center">
								<h2>Aliquam ipsum purus dolor</h2>
								<p>Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>
							</header>
							<div class="flex flex-3">
								<div class="col align-center">
									<div class="image round fit">
										<img th:src="@{/images/pic03.jpg}" src="images/pic03.jpg" alt="" />
									</div>
									<p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet. </p>
									<a href="#" class="button">더 보기</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img th:src="@{/images/pic05.jpg}" src="images/pic05.jpg" alt="" />
									</div>
									<p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet. </p>
									<a href="#" class="button">더 보기</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img th:src="@{/images/pic04.jpg}" src="images/pic04.jpg" alt="" />
									</div>
									<p>Sed congue elit malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet. </p>
									<a href="#" class="button">더 보기</a>
								</div>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer" th:replace="fragments/footer :: footer('footer')">
				<div class="copyright">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
					</ul>
					<p>&copy; Untitled. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
			<script th:src="@{/js/jquery.scrolly.min.js}" src="js/jquery.scrolly.min.js"></script>
			<script th:src="@{/js/jquery.scrollex.min.js}" src="js/jquery.scrollex.min.js"></script>
			<script th:src="@{/js/skel.min.js}" src="js/skel.min.js"></script>
			<script th:src="@{/js/util.js}" src="js/util.js"></script>
			<script th:src="@{/js/main.js}" src="js/main.js"></script>

	</body>
</html>
